* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

/* HEADER */
header {
    display: flex;
    height: 5rem;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: #4f81c7;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 4rem;
}
.logo h1 {
    margin-left: 0.7rem;
}
.menu {
    display: flex;
    list-style: none;
    font-size: 1.7rem;
}
.menu li {
    margin: 0.5rem;
}

/* MAIN */
main {
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
}

/* ASIDE */
aside {
    flex: 30%;
    padding: 2rem;
    background-color: #64c4ed;
}
aside .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    margin: 1.5rem;
    background-color: aliceblue;
    border-radius: 0.5rem;
}

/* SECTION */
section {
    display: flex;
    flex-direction: auto;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex: 70%;
    padding: 2rem;
    background-color: #fcfafa;
}
section .dias {
    text-align: center;
    width: 20rem;
    padding: 2rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
    border: #4f81c7 solid 0.1rem;
    border-radius: 1rem;
}
/* FOOTER */
footer {
    display: flex;
    flex: 100%;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: #f0d78c;
}
footer .social-media {
    display: flex;
    justify-content: space-around;
    margin-left: 2rem;
}
